.card {
    margin-top: 20px;
    position: relative;
    background-color: rgba(29, 30, 31, 1);
}

.userImage {
    margin-top: 5%;
    margin-left: 12%;
    position: absolute;
    width: 10%;
    border-radius: 50%;
}

.card::before {
    content: "";
    position: absolute;
    background: black;
    transform: skewY(345deg);
    transition: 0.5s;
}

.imgBox {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.card .contentBox {
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card .contentBox h3 {
    font-size: 18px;
    color: white;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.card .contentBox .price {
    font-size: 24px;
    color: white;
    font-weight: 700;
    letter-spacing: 1px;
}

.card .contentBox .buy {
    top: 100px;
    padding: 10px 30px;
    margin-top: 15px;
    color: white;
    text-decoration: none;
    background-color: rgba(61, 76, 211, 1);
    text-transform: capitalize;
    letter-spacing: 1px;
    opacity: 1;
    text-align: center;
    width: 80%;
}

.card:hover .contentBox .buy {
    top: 0;
    opacity: 1;
}

.mouse {
    margin-left: 10%;
    width: 80%;
    border: 3px solid #73AD21;
}

.userInfo {
    margin-left: 25%;
    color: black;
    margin-top: 5%;
    position: absolute;
    width: 25%;
}

.productInfo {
    font-size: 1rem;
    color: white;
    text-transform: capitalize;
    letter-spacing: 1px;
}