.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .productImage {
    float: left;
    width: 100%;
    bottom: 0;
    right: 0;
}

.userAvatar {
    bottom: 0;
    display: inline;
    left: 0;
    position: absolute;
}

.wrapper {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: auto;
    text-align: center;
    font-family: arial;
    height: 58px;
    margin: 0;
    padding: 0px 0;
    position: relative;
}

.specialItemButton {
    width: 100%;
    background-color: blue;
}