@import '../../../shared/styles/palette';

.pageWrapper {
  min-height: 100vh;
  
  .shoppingCartBox {
    max-width: 1090px;
    margin: 0 auto;

    .pageGridContainer {
      width: 100%;
      margin-top: 3rem;
      
    
      .productsGridItem {
        
        .productsContainer{
          margin-left: 1rem;
          padding-right: 3rem;
        }
      }
    }

    .summaryGridItem{
      
      .summaryContainer {
        margin-right: 1rem;
        padding-left: 2rem;
        padding-bottom: 2rem;
        .summaryComponent {
          
        }
      }
    }

  }

}