.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;

    .login-form-styles{
        width: 40%;
    }
    .span-class{
        display: flex;
        justify-content: center;
        width: 100%;
        color: red;
        gap: .3rem;
    }
    .button-class{
        display: flex;
        justify-content: center;

        .log-in-account-button{
            margin-top: 1rem;
            background-color: black;
            color: white;
            width: 80%;
            padding: .7rem;
            font-size: 1.2rem;
            cursor: pointer;
            border-radius: 2rem;
        }
    }
    .MuiOutlinedInput-root{
        width: 80%;
    }
    .MuiFormControl-root{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .MuiFormHelperText-root{
        text-align: left;
        width: 78%;
        // font-size: 1rem;

    }
}
.horizontal-line-class{
    width: 100%;
    display: flex;
    justify-content: center;
    .horizontal-line{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: lightgray;
        width: 31%;
        height: .1rem;
        margin-top: 2rem;
    
        .horizontal-line-text{
            background-color: white;
            width: 1.5rem;
            text-align: center;
        }
    }
}
.icon-container{
    width: 100%;
    .buttons-group{
        width: 32%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 1.4rem;
        margin-top: 2rem;
        margin-left: auto;
        margin-right: auto;
        .facebook-signUp{
            background-color: #39569c;
            text-transform: capitalize;
            color: white;
            font-size: 1.2rem;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            border-radius: 2rem;
        }
        .google-signUp, .apple-signUp{
           display: grid;
           grid-template-columns: 1fr 15fr;
           text-transform: capitalize;
           font-size: 1.2rem;
           color: black;
           border: 1px solid black;
           border-radius: 2rem;
        }
    }
}
.footer{
    width: 100%;
    .check{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}