@import'../../shared/styles/colors';

.product-page {
    max-width: 1536px; // equal to main-page layout width
    min-height: 1000vh;
    background-color: white;
    margin: 0 auto;

    .back-banner{
        width: 100%;
        height: auto;
        background-color: $main-background-color;
        margin-bottom: 5%;
    }

    .back-button{
        margin-left: 5%;
    }

    .product {
        margin-left: 25px;
        margin-right: 25px;

        .image-slider {

        }

        .main-image-div {
            max-height: 80vh;
            
        }

        .main-product-image {
            max-width: 100%;
            max-height: 100%;
            
        }

        .slider {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 1rem;
        }

        .product-image-slider-wrap{
            width: 80px;
            height: 80px;
            border: 1px solid #eee;
            cursor: pointer;
        }

        .productImage {
            
            object-fit: scale-down;
        }

        .product-details {
            width: 100%;
        }

        .title-and-category-div {
            width: 100%;
            margin-bottom: 1rem;

            .product-title{
                font-weight: bold;
                font-size: 2rem;
            }

            .product-category {
                font-size: 1rem;
            }
        }

        .price-div {
            margin-top: 0rem;

            .product-price {
                font-size: 1rem;
            }
        }

        .sizes-div {
            margin-top: 3rem;

            .sizes-text-div {
                display: flex;
                justify-content: space-between;
            }
        }

        .product-size-select {
            margin-top: 0.5rem;
            margin-bottom: 1rem;

            .product-size-button {
                color:black;
                border: 1px solid $main-background-color;
                border-radius: 5%;
                min-width: 100%;
                height: 130%;
                display: flex;
            }
        }

        .add-to-cart-button-div {
            

            .add-to-cart-button {
                width: 100%;
                height: 4rem;
                margin-top: 1rem;
                border-radius: 2%;
                background-color: #3d4cd3;
                text-transform: none;
            }

            
        }

        .product-description-div {
            margin-top: 4rem;
        }

        .product-details-div {
            margin-top: 2rem;
        }

        .product-details-bullet-points {
            font-size: 1rem;
            font-weight: bold;
        }
        

        .horizontal-divider {
            margin-top: 2rem;
        }

        .accordion-div {
            margin-top: 1rem;

            .delivery-accordion {
                box-shadow: none;
                background: rgba(255, 255, 255, 0);
                margin-top: 1rem;
                margin-bottom: 1rem;

                .delivery-accordion-summary{
                    font-weight: bold;
                    font-size: 1.3rem;
                }
            }

            .reviews-accordion {
                box-shadow: none;
                background: rgba(255, 255, 255, 0);
                margin-top: 0rem;
                

                .reviews-accordion-summary {
                    margin-top: 0rem;
                }

                .reviews-accordion-content-margin {
                    margin-top: 1rem;
                    margin-bottom: 1rem;
                }

                .reviews-accordion-summary{
                    font-weight: bold;
                    font-size: 1.3rem;
                }
            }
        }
    }
}