@import 'palette';

$search-bar-inner-shadow-color: $orchid-whisper;
$search-bar-outer-shadow-color: $white-solid;

$search-bar-button-background-color: $gorgonzola-blue;
$search-bar-button-text-color: $orchid-whisper;
