@import 'palette';

$search-bar-inner-shadow-color: $orchid-whisper;
$search-bar-outer-shadow-color: $white-solid;
$search-bar-button-background-color: $gorgonzola-blue;
$search-bar-button-text-color: $orchid-whisper;
$search-bar-input-background-color: $white-solid;

$main-background-color: $gray-background;
$facebook-icon-color: $facebook-logo-blue;

$shopping-cart-summary-guest-checkout-button-background: $gorgonzola-blue;
$shopping-cart-summary-member-checkout-button-background: $black-out;
$shopping-cart-item-details-text: $gray-text;
