.catalog-styles {
    display: flex;
    .arrow-icon {
        margin-left: 4rem;
        color: gray;
    }

    .catalog-icons {
        background-color: rgba(29, 30, 31, 1);
        color: white;
        padding: .3rem;
        font-size: 1.7rem;
        border-radius: 1rem;
    }

    .catalog-typography {
        text-transform: capitalize;
        font-size: 1.4rem;
    }

    .catalog-btns {
        height: 5.3rem;
        width: 100%;
        border: 1px solid black;
        color: black;
        gap: .5rem;
    }

    .main-page-button {
        width: 100%;
    }

    .compare-products-button {
        width: 100%;
    }

    .wish-list-button {
        width: 100%;
        margin-left: -.1rem;
    }

    .products-button {
        width: 101%;
        margin-left: -.1rem;
    }
}