.catalog-styles {
    display: flex;
    overflow: hidden;
    .arrow-icon {
        margin-left: 4rem;
        color: gray;
    }

    .catalog-icons {
        background-color: rgba(29, 30, 31, 1);
        color: white;
        padding: .3rem;
        font-size: 1.7rem;
        border-radius: 1rem;
    }

    .catalog-typography {
        font-size: 1rem;
        text-transform: capitalize;
        font-size: 1.1rem;
    }

    .catalog-btns {
        height: 4.3rem;
        width: 100%;
        border: 1px solid black;
        color: black;
        gap: .5rem;
    }

    .main-page-button {
        width: 27.34rem;
    }

    .compare-products-button {
        width: 22rem;
    }

    .wish-list-button {
        width: 21.9rem;
    }

    .products-button {
        width: 24.4rem;
        margin-right: 1rem;
    }

    @media screen and (max-width: 1300px) {

        .main-page-button, .wish-list-button {
            width: 19.4rem;
        }

        .compare-products-button {
            width: 19.55rem;
        }

        .products-button {
            width: 19.7rem;
        }
        .catalog-icons{
            font-size: 1.5rem;
            margin-left: .1rem;
        }
    }

    @media screen and (max-width: 1100px) {
        .catalog-typography {
            font-size: .8rem;
        }

        .main-page-button {
            width: 18.3rem;
        }

        .compare-products-button,
        .products-button {
            width: 15.3rem;
        }

        .wish-list-button {
            width: 17.1rem;
        }

        .arrow-icon, .catalog-icons{
            margin-left: 1rem;
            font-size: 1.5rem;
        }
    }

    @media screen and (max-width: 900px) {
        .main-page-button {
            width: 12.5rem;
        }

        .compare-products-button {
            width: 12.7rem;
        }

        .wish-list-button {
            width: 14.4rem;

        }

        .catalog-typography {
            font-size: .69rem;
        }

        .products-button {
            width: 14.2rem;
        }

        .arrow-icon, .catalog-icons{
            margin-left: .3rem;
            font-size: 1.3rem;
        }
    }
}