.header-div{
    display: flex;
    .header-buttons{
        height: 7.5rem;
        width: 100%;
        border: 1px solid black;
        border-right: none;
        border-radius: 0px;
    }
    .pages {
        color: black;
        font-size: 1.2rem;
        text-transform: capitalize;
    }
    .span{
        margin-left: .6rem;
        background: rgba(50, 63, 175, 1);
        border-radius: .5rem;
        color: white;
        width: auto;
        padding-left: 8px;
        padding-right: 8px;
        text-transform: lowercase;
        font-size: 1rem;
    }
    .bagBtn{
        width: 100%;
        color: black;
        margin-right: -2rem;
    }
    .languages{
        color: black;
        border: 1px solid black;
        height: 7.36rem;  
        border-right: none;     
    }
    .input-label{
        font-size: 1.1rem;
        display: flex;
        justify-content: center;
        margin-top: 1.7rem;
        margin-left: -.5rem;
    }
    .MuiSelect-select{
        width: 100%;
    }
}
.first-typography{
    background-color: rgba(29, 30, 31, 1);
    margin-left: -2.7rem;
    height: 7.5rem;
}
.img{
    border-radius: 50%;
    height: 3.5rem;
    margin-left: 5.9rem;
    margin-top: 1.7rem;
}   