.side-bar-boxes{
    margin-top: 1.55rem;
    width: 80%;
    margin-left: 2.5rem;

    .acordion-style{
        background-color: rgba(241,241,241,1);
    }
}
.price{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(222, 224, 231, 1);
    height: 3rem;
    padding: 1rem;
    border-radius: .5rem;
    width: 40%;
}
.price-txt{
    background-color: rgba(189,185,185,1);
}
.AppBar{
    background-color: rgba(241, 241, 241, 1);
    width: 27.5rem;
    margin-top: 10.7rem;
    position: absolute;
    left: 0;
    height: auto;
    padding-bottom: 2rem;
}
.price-diapason{
    color: black;
    display: flex;
    justify-content: space-around;
    gap: 1.4rem;
    margin-top: 1rem;
    margin-left: 1rem;
    width: 90%;
}
.slider{
    margin-top: 1rem;
    width: 20.3rem;
    margin-left: 3.5rem;
}   
.price-txt{
    color: black;
    margin-top: 1.8rem;
    margin-left: 3.8rem;
    font-size: 1.3rem;
    background-color: rgba(241,241,241,1);
}
@media screen and (max-width: 1300px){
    .AppBar{
        width: 25%;
    }
    .slider{
        margin-top: 1rem;
        width: 15.3rem;
        margin-left: 2.4rem;
    }   
    .price{
        width: 100%;
        
    }
    .price-diapason{
        width: 100%;
    }
    .price-txt{
        margin-left: 2.7rem;
    }
}
@media screen and (max-width: 1100px){
    .AppBar{
        width: 28%;
    }
    .slider{
        margin-top: 1rem;
        width: 14.3rem;
        margin-left: 2.4rem;
    }   
    .price{
        width: 70rem;
    }
    .price-diapason{
        width: 100%;
        margin-left: .6rem;
    }
    .price-txt{
        margin-left: 2.7rem;
    }
}
@media screen and (max-width: 900px){
    .AppBar{
        width: 35%;
        margin-top: 17.2rem;
    }
    .slider{
        margin-top: 1rem;
        width: 15.3rem;
        margin-left: 2rem;
    }   
    .price{
        width: 80rem;
        font-size: .8rem;
        height: 2.7rem;
    }
    .price-diapason{
        width: 100%;
        margin-left: .2rem;
    }
    .price-txt{
        margin-left: 2rem;
    }
    .side-bar-boxes{
        margin-left: 2rem;
    }
}
