.side-bar{
    width: 33%;

    .filter-buttons-class{
        display: grid;
        padding-bottom: 1rem;

        .title{
            font-size: 1.1rem;
            text-align: center;
        }
        .filter-button{
            padding: 1rem;
            font-size: 1.1rem;
            background: none;
            border: none;
            cursor: pointer;
            transition: 200ms;
        }
        .filter-button:active{
            background-color: lightgray;
            transform: scale(0.85);
        }
    }
}