.cartItem {
  width: 50rem;
  padding-top: 2rem;
  display: flex;

  .imageContainer {
    min-width: 12.5rem;
    padding-right: 1.5rem;
    img {
      max-width: 12.5rem;
      max-height: 12.5rem;
    }
  }

  .infoContainer {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    min-width: 15rem;

    .increaseQuantityButton{
      margin-left: 0.5rem;
      width: 2.5rem;
      height: 2.5rem;
    }

    .decreaseQuantityButton{
      margin-right: 0.5rem;
      width: 2.5rem;
      height: 2.5rem;
    }
  }

  .priceContainer {
    padding-top: 1.5rem;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}