.container-grid {
    background-color: rgb(29, 30, 31);
}

.body {
    background: #171835;
    width: 100%;

    .banner {
        left: 0px;
        top: 100px;
        background: linear-gradient(180deg,
                rgba(23, 24, 53, 0.3) 0%,
                rgba(0, 0, 0, 0.3) 100%);
        border: 1px solid #000000;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

        .accordion-container {
            background-color: rgb(29, 30, 31);
            color: white;
            padding-bottom: 1rem;
            border: 1px solid rgba(0, 0, 0, 0.25);

            .expand-icon {
                color: white;
            }
        }

        .second-accordion-container {
            margin-top: -1rem;
        }

        .card-container {
            display: flex;
            align-items: center;

            .card {
                width: 100%;
                margin: auto;
                text-align: center;
                font-family: arial;
            }

            h1 {
                color: white;
            }

            h3 {
                color: white;
            }

            .memberImage {
                width: 200px;
                height: 200px;
                border-radius: 50%;
                box-shadow: 0 4px 8px 0 white;
            }

            .memberInfo {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;

                a {
                    cursor: pointer;

                    .social-image {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                    }
                }

                .modal-anchor {
                    border-radius: 5px;
                    background-color: #fff;
                    background: linear-gradient(to left, white 50%, lightblue 50%) right;
                    background-size: 200%;
                    transition: .4s;
                    width: 30%;
                }

                .modal-anchor:hover {
                    background-position: left;
                }
            }

            .card button {
                display: inline-block;
                border-radius: 45%;
                border: none;
                outline: 0;
                padding: 12px;
                text-align: center;
                cursor: pointer;
                width: 30%;
                font-size: 18px;
            }

            .card button:hover {
                opacity: 0.7;
            }
        }
    }
}

.member-info-box {
    .group-info {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        padding-left: 1rem;
    }

    .group-info img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }

    .close-modal-button {
        position: absolute;
        right: 10px;
        top: 10px;
        background: none;
        border: none;
        cursor: pointer;
        color: black;
    }

    .member-info {
        margin-top: 3rem;
        padding-left: 1rem;
        font-size: 1.3rem;
    }
}